body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.habitForm{

  border-style: hidden;
  margin: auto;
  width: 40%;
  text-align:left;
  padding: 4%;
  display: block;
}

.habits {
  
  margin: auto;


}

.progressBar{
  height: 20px;
  width: 75%;
  border-radius: 30px;
  border: 2px solid black;

}

.filledProgress{
  height: 100%;
  background: blue;
  border-radius: inherit;

}
